{% extends "base.html" %}
{% block content %}
<div class='wrap'>
    <h1>CROTON</h1>
    <p class='word-break'>
        Please input a 60-nucleotide target sequence:
        (ex.&nbsp;TCCAGGGCCTAATCTGACCGTCCTAGATACCTCAGGGTGGGCAATACGAGGTAATGGCAG)
    </p>

    <!-- SeqForm -->
    <form action='' method="post" autocomplete="off" novalidate="novalidate"> 
        {% csrf_token %}
        
        {% if form.input_seq.errors %}
            {% for error in form.input_seq.errors %}
                <p> <span class="error"> {{ error }} </span> <br> </p>
            {% endfor %}
        {% endif %}

        <div> {{ form.input_seq }} </div>
        
        <input type="submit" value="Predict">
    </form>

    <!-- Output -->
    <p class='word-break'> <br>
        <u>Input:</u> <br>
            {{ input_seq }} <br> <br>
        <u>Output:</u> <br>
            - 1 bp Insertion Probability: {{ prob_1bpins }} <br>
            - 1 bp Deletion Probability: {{ prob_1bpdel }} <br>
            - Deletion Frequency: {{ delfreq }} <br>
            - 1 bp Frameshift Frequency: {{ onemod3_freq }} <br>
            - 2 bp Frameshift Frequency: {{ twomod3_freq }} <br>
            - Frameshift Frequency: {{ frameshift_freq }} 
    </p>
</div>
{% endblock content %}